body{font: size 20px;
    
    }
    
  .principal{background-color: gray;
    text-align: center;}

    .subtitulo{text-align: center;}

  .imagem{width: 100%;}
  
  .beneficio{width: 100%;}

.destaque{color: red;}
